@use "./mixins" as *;
@use "../bootstrap/bootstrap" as *;

// Google Font - Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// For H2 Headings
.heading-2 {
  font-size: 4rem;
  font-weight: 700;
  @include font-poppins;

  @include media-breakpoint-down(md) {
    font-size: 3rem;
  }
}

.heading-3 {
  font-size: 3rem;
  font-weight: 700;
  @include font-poppins;

  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
  }
}
